# -*- coding: utf-8 -*-
# 工程预装模块
# 需要额外的python包，可直接在文件后面添加
# 请确保指定的包和版本号，可通过pip安装

redis==2.10.5
django==2.2.6
blueapps==3.3.6rc
gunicorn==19.6.0
blueking-component-ieod>=0.0.68
djangorestframework==3.12.4
drf-yasg==1.20.0
raven==6.5.0
ddtrace==0.14.1
django-cors-headers==3.8.0
django-dbconn-retry==0.1.5
